<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6 style="color: white;">Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email Id</th>
                  <!-- Let's add action button for deleting or editing-->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Now let's fetch data from local storage & display data into data-->
                 @for (emp of employeeList; track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.contactNo}}</td>
                    <td>{{emp.emailId}}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-primary" (click)="onEdit(emp)">Edit</button>
                      <button type="button" class="btn btn-danger mx-2" (click)="onDelete(emp.empId)">Delete</button>
                    </td>
                  </tr>
                 }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        <h6 style="color: white;">New Employee</h6>
      </div>
      <div class="card-body">
        <!-- let's bind formGroup to our employeeFrom-->
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" formControlName="name" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['name'].touched) {
                  @if (employeeForm.controls['name'].errors?.['required']) {
                    <span>{{validationMessage.NAME_REQUIRED}}</span>
                  }
                  @if (employeeForm.controls['name'].errors?.['pattern']) {
                    <span>{{validationMessage.NAME_PATTERN}}</span>
                  }
                  @if (employeeForm.controls['name'].errors?.['maxlength']) {
                    <span>{{validationMessage.NAME_LENGTH}}</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">Email-Id</label>
              <input type="text" formControlName="emailId" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['emailId'].touched) {
                  @if (employeeForm.controls['emailId'].errors?.['required']) {
                    <span>{{validationMessage.EMAIL_REQUIRED}}</span>
                  }@if (employeeForm.controls['emailId'].errors?.['email']) {
                    <span>{{validationMessage.EMAIL_VALID}}</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">Contact No</label>
              <input type="text" formControlName="contactNo" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['contactNo'].touched) {
                  @if (employeeForm.controls['contactNo'].errors?.['required']) {
                    <span>{{validationMessage.CONTACT_REQUIRED}}</span>
                  }
                  @if (employeeForm.controls['contactNo'].errors?.['pattern']) {
                    <span>{{validationMessage.CONTACT_LENGTH}}</span>
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" formControlName="city" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['city'].touched) {
                  @if (employeeForm.controls['city'].errors?.['required']) {
                    {{validationMessage.CITY_REQUIRED}}
                  }
                  @if (employeeForm.controls['city'].errors?.['pattern']) {
                    {{validationMessage.CITY_VALID}}
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" formControlName="state" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['state'].touched) {
                  @if (employeeForm.controls['state'].errors?.['required']) {
                    {{validationMessage.STATE_REQUIRED}}
                  }
                  @if (employeeForm.controls['state'].errors?.['pattern']) {
                    {{validationMessage.STATE_VALID}}
                  }
                }
              </div>
            </div>
            <div class="col-6">
              <label for="">Pin code</label>
              <input type="text" formControlName="pinCode" class="form-control">
              <div class="text-danger">
                @if (employeeForm.controls['pinCode'].touched) {
                  @if (employeeForm.controls['pinCode'].errors?.['required']) {
                    <span>{{validationMessage.PIN_CODE}}</span>
                  }
                  @if (employeeForm.controls['pinCode'].errors?.['pattern']) {
                    <span>{{validationMessage.PIN_CODE_PATTERN}}</span>
                  }
                  @if (employeeForm.controls['pinCode'].errors?.['minlength']) {
                    <span>{{validationMessage.PIN_CODE_LENGTH}}</span>
                  }
                }
              </div>
            </div>
            <div class="col-12">
              <label for="">Address</label>
              <textarea formControlName="address" class="form-control"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
            </div>
            <div class="col-6 text-center">
              @if (employeeForm.controls['empId'].value == '0') {
                <button type="button" class="btn btn-success" [disabled]="employeeForm.invalid" (click)="onSave()">Save Employee</button>
              }@else {
                <button type="button" class="btn btn-warning" (click)="onUpdate()">Update Employee</button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>